video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
}

button {
  font-size: 30px;
  border-radius: 12px;
  border: none;
}

.search {
  width: 100%;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  margin-left: 0px;
  margin-right: 10px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  font-family: 'Albert Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  outline: none;
}



ul {
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: #ddd6e8;
  font-family: 'Albert Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
}

li:hover {
  background: #d6e8e4;
}

h1 {
  font-family: 'Albert Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: 50px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h2 {
  font-family: 'Albert Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-top: 100px;
  margin-bottom: 0;
  letter-spacing: 3px;
}

h3 {
  font-family: 'Albert Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
}

img {
  border: 2px solid black;
}

@media all and (max-width: 500px) {
  body {
    background-color: #d6e8e4;
  }
  video {
    display: none;
  }
  h2 {
    margin-top: 50px;
  }
}